SURREAL_USER=root
SURREAL_PASS=My_SuP3R_STR0NG_P@$$W0RD
SURREAL_NAMESPACE=main
SURREAL_DATABASE=main
SURREAL_ADDRESS=127.0.0.1:8000
SURREAL_PROTOCOL=http
DEBUG=false
MAX_ATTEMPTS=4
## TOOLS
### Security
SECURITY_NUCLEI_TEMPLATES=
SECURITY_NIKTO_TIMEOUT=900
# lower number more strict, higher more lenient
SECURITY_SCORE_THRESHOLD=400
### WCAG
WCAG_RUN_ONLY=
WCAG_EXCLUDE_RULES=
### Stress Test
STRESS_RATE=10
STRESS_DURATION=30s
STRESS_METHOD=GET
STRESS_TIMEOUT=10s
STRESS_WORKERS=10
STRESS_MAX_WORKERS=100
STRESS_HEADERS={}
STRESS_BODY=
STRESS_LATENCY_WARN_MS=500
